<div>
    <div class="row justify-content-center">
        <div class="col-auto">

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Dept</th>
                        <th scope="col">City</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>HR</td>
                        <td>Bangalore</td>
                        <td>help@mdo.com</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Otto</td>
                        <td>HR</td>
                        <td>Bangalore</td>
                        <td>help@mdo.com</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>IT</td>
                        <td>Bangalore</td>
                        <td>help@mdo.com</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Holton</td>
                        <td>the Bird</td>
                        <td>IT</td>
                        <td>Bangalore</td>
                        <td>help@mdo.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>