<div>
    <div class="row justify-content-center">
        <div class="col-auto">

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Dept</th>
                        <th scope="col">City</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody defColOnEvent *ngFor="let emp of employees">
                    <tr *ngIf="expression">
                        <th scope="row">{{emp.employee_id}}</th>
                        <td>{{emp.first_name}}</td>
                        <td>{{emp.last_name}}</td>
                        <td>{{emp.dept}}</td>
                        <td>{{emp.city}}</td>
                        <td>{{emp.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>